html {
    background-color: #212121;
    color: #E6E6E6;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
}

body {
    width: min(500px, 100%);
    margin: 0;
}

.discussion {
    margin: 15px 0;
    display: flex;
    flex-direction: row;
    background-color: #303030;
    flex-direction: row;
    padding: 15px 0;
    text-align: left;
    border-radius: 30px;
    box-shadow: 8.0px 16.0px 16.0px hsl(0deg 0% 0% / 0.25);
}

body > .title {
    text-align: center;
}

body > .description {
    text-align: center;
    margin-bottom: 40px;
}

.discussion .title {
    font-size: 2em;
    margin: 0;
}

.discussion .participants {
    font-size: 0.8em;
    margin: 0;
}

.discussion .date {
    color: #8F8F8F;
    font-size: 0.8em;
    margin: 0;
}

.emoji {
    font-size: 60px;
    margin: 0 25px;
}

.discussion:nth-child(even) {
    flex-direction: row-reverse;
    text-align: right;
}
