html {
    display: flex;
    justify-content: center;
}

body {
    width: min(600px, 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
    word-wrap: break-word;
    align-items: center;
}

h1 {
    margin: 0px;
}

.subtitle {
    margin: 0px;
    margin-bottom: 15px;
}

h2 {
    margin: 0px;
    margin-bottom: 15px;
}

.discussion {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 20px;
    border-style: solid;
    border-color: rgba(0,0,0,0.15);
    border-width: 1px;
}

.moment {
    margin: 0px;
    margin-bottom: 15px;
}

.participants {
    margin: 0px;
}

.emoji {
    margin-right: 7px;
}
